.theme-light {
  --color-primary-50: #eefbf2;
  --color-primary-100: #d6f5de;
  --color-primary-200: #b0eac2;
  --color-primary-300: #7cd99e;
  --color-primary-400: #47c078;
  --color-primary-500: #219654;
  --color-primary-600: #168548;
  --color-primary-700: #126a3d;
  --color-primary-800: #115431;
  --color-primary-900: #0f452a;
  --color-primary-950: #072718;

  --color-on-primary: white;
  --color-on-primary-50: #ffffff;
  --color-on-primary-100: #efefef;
  --color-on-primary-200: #dcdcdc;
  --color-on-primary-300: #bdbdbd;
  --color-on-primary-400: #989898;
  --color-on-primary-500: #7c7c7c;
  --color-on-primary-600: #656565;
  --color-on-primary-700: #525252;
  --color-on-primary-800: #464646;
  --color-on-primary-900: #3d3d3d;
  --color-on-primary-950: #292929;

  --color-surface: white;
  --color-surface-50: #ffffff;
  --color-surface-100: #efefef;
  --color-surface-200: #dcdcdc;
  --color-surface-300: #bdbdbd;
  --color-surface-400: #989898;
  --color-surface-500: #7c7c7c;
  --color-surface-600: #656565;
  --color-surface-700: #525252;
  --color-surface-800: #d7d7d7;
  --color-surface-900: #eaeaea;
  --color-surface-950: #747373;

  --color-on-surface: rgb(170 170 170);
  --color-on-surface-50: #ffffff;
  --color-on-surface-100: #303030;
  --color-on-surface-200: #dcdcdc;
  --color-on-surface-300: #bdbdbd;
  --color-on-surface-400: #989898;
  --color-on-surface-500: #494949;
  --color-on-surface-600: #444343;
  --color-on-surface-700: #525252;
  --color-on-surface-800: #dddddd;
  --color-on-surface-900: #3d3d3d;
  --color-on-surface-950: #292929;

  --color-background: #eefbf2;
  --color-on-background: black;
}